## DEBIAN
debian_version="current"

## FEDORA
fedora_version="20"

## GENTOO
gentoo_version="current"

## GRML
grml_version="2014.03"

## KALI
kali_version="1.0.7"

## NETBSD
netbsd_version="6.1.3"

## OPENBSD
openbsd_version="5.5"

## TAILS
tails_version="1.0"

## UBUNTU_SERVER
ubuntu_server_version="12.04.4"

## UBUNTU_DESKTOP
ubuntu_desktop_version="13.10"
