## This is the configuration file for multiboot.sh so that you dont have to change
## stuff in there.
##
## this will be fixed after testing

DEBIAN="debian 7.5.0 amd64 i386"
FEDORA="fedora 20 x86_64 i386"
GENTOO="gentoo current amd64 x86"
GRML="grml 2014.03 96"
KALI="kali 1.0.7 amd64"
NETBSD="netbsd 6.1.3 amd64 i386"
OPENBSD="openbsd 5.5 amd64 i386"
TAILS="tails 1.0 i386"
UBUNTU_SERVER="ubuntus 12.04.4 amd64 i386"
UBUNTU_DESKTOP="ubuntud 13.10 amd64 i386"
