## DEBIAN="debian current amd64 i386"
debian_version="current"

## FEDORA="fedora 20 x86_64 i386"
fedora_version="20"

## GENTOO="gentoo current amd64 x86"
gentoo_version="current"

## GRML="grml 2014.03 96"
grml_version="2014.03"

## KALI="kali 1.0.7 amd64"
kali_version="1.0.7"

## NETBSD="netbsd 6.1.3 amd64 i386"
netbsd_version="6.1.3"

## OPENBSD="openbsd 5.5 amd64 i386"
openbsd_version="5.5"

## TAILS="tails 1.0 i386"
tails_version="1.0"

## UBUNTU_SERVER="ubuntus 12.04.4 amd64 i386"
ubuntu_server_version="12.04.4"

## UBUNTU_DESKTOP="ubuntud 13.10 amd64 i386"
ubuntu_desktop_version="13.10"
